*.o
*.a
# build targets
/spcat
/spfit
calbak
calmrg
# build "all" targets
moiam
stark
termval
sortn
calbak
reassign
sortegy
iambak
iamcalc
# CMake artefacts
build/
CMakeFiles/
CMakeCache.txt
# test outputs:
spfit_spcat_test_suite/*/*/*/*
spfit_spcat_test_suite/temp*

*~